.card {
  padding: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  width: auto;

  border-radius: 5px;


}

.search {

  border-radius: 2rem;

  width: auto;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}

.btn {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 5px;
  border-radius: 5px;
  border: unset;
  margin: 2rem;
  align-items: center;
  cursor: pointer;


}

.App {
  text-align: center;
  align-items: center;
  display: grid;
  justify-content: center;
  padding: 5rem;


}